DATABASE_URL=
NEXTAUTH_SECRET=change-this-to-a-random-secret-string
NEXTAUTH_URL=http://localhost:3000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme123
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dggmqhwml
CLOUDINARY_API_KEY=493741916696589
CLOUDINARY_API_SECRET=CFP4dPUkLuSzzyHEuQJ_iYV6hNU
